services/ms-workflow/serverless.yml
org: javierpariansullca
service: ms-workflow

frameworkVersion: "4"

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::413507650058:role/LabRole
  environment:
    TABLA_PASOS: pedido_pasos-${sls:stage}

functions:
  # ── Invocada externamente (EventBridge o Lambda) ────────────────────────
  iniciarWorkflow:
    handler: handlers/iniciar_workflow.handler
    environment:
      STATE_MACHINE_ARN: !Sub >-
        arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkflowPedido-${sls:stage}

  # ── Invocada por API Gateway (operador/frontend) ─────────────────────────
  avanzarPaso:
    handler: handlers/avanzar_paso.handler
    events:
      - http:
          path: pasos/avanzar
          method: post
          cors: true

  # ── Invocadas por Step Functions (waitForTaskToken) ──────────────────────
  cocinarTask:
    handler: handlers/cocinar_task.handler

  despacharTask:
    handler: handlers/despachar_task.handler

  repartirTask:
    handler: handlers/repartir_task.handler

# ── Step Function ─────────────────────────────────────────────────────────
stepFunctions:
  stateMachines:
    workflowPedido:
      name: WorkflowPedido-${sls:stage}
      role: arn:aws:iam::413507650058:role/LabRole
      definition:
        Comment: "Flujo de pedidos: Cocina → Despacho → Reparto (Wait for Callback)"
        StartAt: Cocina
        States:
          Cocina:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-cocinarTask
              Payload:
                paso: "COCINA"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoCocina"
            TimeoutSeconds: 3600
            Next: Despacho
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          Despacho:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-despacharTask
              Payload:
                paso: "DESPACHO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoDespacho"
            TimeoutSeconds: 3600
            Next: Reparto
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          Reparto:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-repartirTask
              Payload:
                paso: "REPARTO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoReparto"
            TimeoutSeconds: 7200
            Next: PedidoEntregado
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          PedidoEntregado:
            Type: Succeed

          PedidoFallido:
            Type: Fail
            Error: "PedidoError"
            Cause: "El flujo de trabajo falló en uno de los pasos."

# ── Recursos CloudFormation ───────────────────────────────────────────────
resources:
  Resources:
    TablaPedidoPasos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pedido_pasos-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: paso_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: paso_id
            KeyType: RANGE
